=begin
#Consolidate Services

#Description of all APIs

OpenAPI spec version: version not set

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.32-SNAPSHOT

=end

require 'uri'

module ArgoCD
  class GPGKeyServiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create one or more GPG public keys in the server's configuration
    # @param body Raw key data of the GPG key(s) to create
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :upsert Whether to upsert already existing public keys.
    # @return [GpgkeyGnuPGPublicKeyCreateResponse]
    def g_pg_key_service_create(body, opts = {})
      data, _status_code, _headers = g_pg_key_service_create_with_http_info(body, opts)
      data
    end

    # Create one or more GPG public keys in the server&#39;s configuration
    # @param body Raw key data of the GPG key(s) to create
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :upsert Whether to upsert already existing public keys.
    # @return [Array<(GpgkeyGnuPGPublicKeyCreateResponse, Fixnum, Hash)>] GpgkeyGnuPGPublicKeyCreateResponse data, response status code and response headers
    def g_pg_key_service_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GPGKeyServiceApi.g_pg_key_service_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling GPGKeyServiceApi.g_pg_key_service_create"
      end
      # resource path
      local_var_path = '/api/v1/gpgkeys'

      # query parameters
      query_params = {}
      query_params[:'upsert'] = opts[:'upsert'] if !opts[:'upsert'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['argocd_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GpgkeyGnuPGPublicKeyCreateResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GPGKeyServiceApi#g_pg_key_service_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete specified GPG public key from the server's configuration
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_id The GPG key ID to query for.
    # @return [GpgkeyGnuPGPublicKeyResponse]
    def g_pg_key_service_delete(opts = {})
      data, _status_code, _headers = g_pg_key_service_delete_with_http_info(opts)
      data
    end

    # Delete specified GPG public key from the server&#39;s configuration
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_id The GPG key ID to query for.
    # @return [Array<(GpgkeyGnuPGPublicKeyResponse, Fixnum, Hash)>] GpgkeyGnuPGPublicKeyResponse data, response status code and response headers
    def g_pg_key_service_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GPGKeyServiceApi.g_pg_key_service_delete ...'
      end
      # resource path
      local_var_path = '/api/v1/gpgkeys'

      # query parameters
      query_params = {}
      query_params[:'keyID'] = opts[:'key_id'] if !opts[:'key_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['argocd_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GpgkeyGnuPGPublicKeyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GPGKeyServiceApi#g_pg_key_service_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get information about specified GPG public key from the server
    # @param key_id The GPG key ID to query for
    # @param [Hash] opts the optional parameters
    # @return [V1alpha1GnuPGPublicKey]
    def g_pg_key_service_get(key_id, opts = {})
      data, _status_code, _headers = g_pg_key_service_get_with_http_info(key_id, opts)
      data
    end

    # Get information about specified GPG public key from the server
    # @param key_id The GPG key ID to query for
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1alpha1GnuPGPublicKey, Fixnum, Hash)>] V1alpha1GnuPGPublicKey data, response status code and response headers
    def g_pg_key_service_get_with_http_info(key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GPGKeyServiceApi.g_pg_key_service_get ...'
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling GPGKeyServiceApi.g_pg_key_service_get"
      end
      # resource path
      local_var_path = '/api/v1/gpgkeys/{keyID}'.sub('{' + 'keyID' + '}', key_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['argocd_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'V1alpha1GnuPGPublicKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GPGKeyServiceApi#g_pg_key_service_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List all available repository certificates
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_id The GPG key ID to query for.
    # @return [V1alpha1GnuPGPublicKeyList]
    def g_pg_key_service_list(opts = {})
      data, _status_code, _headers = g_pg_key_service_list_with_http_info(opts)
      data
    end

    # List all available repository certificates
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_id The GPG key ID to query for.
    # @return [Array<(V1alpha1GnuPGPublicKeyList, Fixnum, Hash)>] V1alpha1GnuPGPublicKeyList data, response status code and response headers
    def g_pg_key_service_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GPGKeyServiceApi.g_pg_key_service_list ...'
      end
      # resource path
      local_var_path = '/api/v1/gpgkeys'

      # query parameters
      query_params = {}
      query_params[:'keyID'] = opts[:'key_id'] if !opts[:'key_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['argocd_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'V1alpha1GnuPGPublicKeyList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GPGKeyServiceApi#g_pg_key_service_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
